/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Fin du CSS Reset */

/*font-family: 'Kufam', cursive;*/

html {
  --primary-light: #ffffff;
  --primary-dark: #090809;
  --secondary-light: #f6f6f6;
  --secondary-dark: #0f0a0a;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 1%;
  background-color: var(--primary-light);
  text-decoration-color: var(--secondary-light);
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

header .container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  font-size: 5rem;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
}
p {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  padding-top: 5%;
}
#container {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: center;
  min-height: 100vh;
  padding: 1em;
  width: 100%;
}

h1 {
  animation: text-shadow 1.5s ease-in-out infinite;
  font-size: 3em;
  font-weight: 900;
  line-height: 1;
  padding-top: 15%;
  padding-bottom: 15%;
}

h2 {
  animation: text-shadow 1.5s ease-in-out infinite;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  padding-top: 5%;
  text-align: center;
}

h3 {
  animation: text-shadow 1.5s ease-in-out infinite;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
  padding-top: 5%;
}

a {
  color: #024794;
}

a:hover {
  text-decoration: none;
}

@keyframes text-shadow {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }

  20% {
    transform: translateY(-1em);
    text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd, 0 -0.125em 0 #fb203b,
      0 -0.25em 0 #fefc4b;
  }

  40% {
    transform: translateY(0.5em);
    text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
      0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
  }

  60% {
    transform: translateY(-0.25em);
    text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd,
      0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
  }

  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;
  padding: 2%;
  list-style: none;
  text-align: center;
}

nav ul a {
  display: inline-grid;
  padding-right: 5rem;
  color: var(--secondary-dark);
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
}

li {
  display: grid;
  grid-template-columns: 2fr;
  place-items: center;
  font-size: 2rem;
}

section .container {
  display: grid;
  grid-template-columns: 2fr;
}

span svg {
  width: 3rem;
  mix-blend-mode: difference;
}

path svg {
  width: 3rem;
  mix-blend-mode: difference;
}

p {
  padding: 1rem;
}

article section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

article .container,
.page-footer .container,
#styles .container {
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
}

.skip-link {
  padding-left: 60%;
  margin-top: 5em;
  font-size: 4rem;
  animation: text-shadow 1.5s ease-in-out infinite;
  display: none;
}

.link-github {
  margin-top: 5em;
  font-size: 3rem;
  animation: text-shadow 1.5s ease-in-out infinite;
}

.link-guidelines {
  display: none;
}

header h1 {
  max-width: 5ch;
}

.link-rss {
  display: none;
}

.link-support {
  display: none;
}

.link-allstyles {
  display: none;
}

.link-twittercontact {
  animation: text-shadow 1.5s ease-in-out infinite;
}

aside {
  position: relative;
}

a.link-downloadcss,
a.link-downloadhtml,
a.link-codepen,
a {
  font-size: 2rem;
  text-align: center;
  animation: text-shadow 1.5s ease-in-out infinite;
}

HTML SCSS Result EDIT ON * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 2000px;
  background-color: red;
  background-image: url(https://yt3.ggpht.com/a/AATXAJw-0270nAtIIZVhFLqPkk9-RVIwiK-u2kPizwm_=s900-c-k-c0xffffffff-no-rj-mo);
  background-size: 100vh auto;
  background-position: top center;
  background-attachment: fixed;
}

body {
  height: 100%;
  background-image: linear-gradient(hsl(10, 90, 66), transparent 70%);
  background-size: 100% 100%;
  mix-blend-mode: difference;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
  header h1 {
    font-size: 10rem;
  }
}
