/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Fin du CSS Reset */

/*font-family: 'Kufam', cursive;*/

html {
  --primary-light: #99f3bd;
  --primary-dark: ;
  --secondary-light: #f6f6f6;
  --secondary-dark: ;
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 5%;
  padding-left: 5%;
  background-color: var(--primary-light);
  text-decoration-color: var(--secondary-light);
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

header .container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  font-size: 5rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10;
  padding: 3;
  list-style: none;
}

nav ul a {
  display: inline-grid;
  padding: 0.5rem;
  color: var(--color-secondary);
  font-size: 2rem;
  text-decoration: none;
}

li {
  display: grid;
  grid-template-columns: 2fr;
  place-items: center;
  font-size: 4rem;
}

section .container {
  display: grid;
  grid-template-columns: 2fr;
}

span svg {
  width: 3rem;
}

p {
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr;
}
