/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Fin du CSS Reset */

/*font-family: 'Kufam', cursive;*/

html {
  --primary-light: #F4796B;
  --primary-dark: ; #090809;
  --secondary-light: #f6f6f6;
  --secondary-dark: #8FA6CB;
 font-family: "Open Sans", sans-serif;
}

body {
  margin: 5%;
  padding-left: 5%;
  background-color: var(--primary-light);
  text-decoration-color: var(--secondary-light);
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}


header .container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  font-size: 5rem;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
}

#container {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: center;
  min-height: 100vh;
  padding: 1em;
  width: 100%;
}

h1 {
  animation: text-shadow 1.5s ease-in-out infinite;
  font-size: 4em;
  font-weight: 900;
  line-height: 1;
}

h2 {
  margin: 20%;
}

h1:hover {
  animation-play-state: paused;
}

a {
  color: #024794;
}

a:hover {
  text-decoration: none;
}

@keyframes text-shadow {
  0% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #fb203b, 
          0 0 0 #fefc4b;
  }

  20% {  
      transform: translateY(-1em);
      text-shadow: 
          0 0.125em 0 #0c2ffb, 
          0 0.25em 0 #2cfcfd, 
          0 -0.125em 0 #fb203b, 
          0 -0.25em 0 #fefc4b;
  }

  40% {  
      transform: translateY(0.5em);
      text-shadow: 
          0 -0.0625em 0 #0c2ffb, 
          0 -0.125em 0 #2cfcfd, 
          0 0.0625em 0 #fb203b, 
          0 0.125em 0 #fefc4b;
  }
  
 60% {
      transform: translateY(-0.25em);
      text-shadow: 
          0 0.03125em 0 #0c2ffb, 
          0 0.0625em 0 #2cfcfd, 
          0 -0.03125em 0 #fb203b, 
          0 -0.0625em 0 #fefc4b;
  }

  80% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #fb203b, 
          0 0 0 #fefc4b;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10%;
  padding: 3;
  list-style: none;
}

nav ul a {
  display: inline-grid;
  padding: 0.5rem;
  color: var(--secondary-light);
  font-size: 2rem;
  text-decoration: none;
  
}

li {
  display: grid;
  grid-template-columns: 2fr;
  place-items: center;
  font-size: 4rem;
}

section .container {
  display: grid;
  grid-template-columns: 2fr;
}

span svg {
  width: 3rem;
}

path svg {
  width: 3rem;
}

p {
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr;
}

article section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 5vh;
  padding-bottom: 5vh; }

  article .container,
.page-footer .container,
#styles .container {
  width: 100%;
  max-width: 80ch;
  margin-right: 5px;
  margin-left: 5px; }
